.loginPageCx {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 241, 241);
}

.loginContentCx{

  width: 25em;
  height: 40em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid rgb(219,219,219);
  background-color: white;
}

.loginFieldCx {
  margin: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4em;
}

.loginText {
  all: unset;
  border: 1px solid rgb(219,219,219);
  min-height: 2.5em;
  min-width: 20em;
  padding: 0.4em;
}

.loginButton {
  all: unset;
  border: none;
  margin: 0.4em 0em 1em 0em;

  text-align: center;

  min-height: 2em;
  width: 15em;
  transition: 0.5s;
  
  border-radius: 2px;
  border: 1px solid #ff006f;
}

.loginButton:hover {
  
  min-height: 2em;
  width: 15em;
  color: rgb(219,219,219);
  border: none;
  background: linear-gradient(to right, #9e5fbb, #ff006f);
}

#loginFailText {
  opacity: 0;
  transition: 0.5s; 
}

#loginFailText.active {
  opacity: 1;
  transition: 0.5s;
}

.logoCx {
  width: 200px;
  height: 200px;
}

.logoIcon {
  width: 150px;
  height: 150px;
}