body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#budgetBox {
  display: flex;
  justify-content: ho;
  align-items: center;
  border-style: solid;
  margin: 20px;
}
#categoryBox {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  border-style: solid;
  margin: 20px;
}

/* #inputBox {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
} */
