.categoryPageCx {
  height: 100%;
}
.categoryContentCx {
  position: relative;
  top: 3em;
  border: 3px black solid;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoriesList {
  width: 60%;
  border: 5px black solid;
  padding: 2em;
  
  background-color: white;
  border: 1px solid rgb(219,219,219);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8em;
}

.categoryCx {
  width: 100%;
  display: flex;
  justify-content: space-between;

  font-weight: 200;
}

.addCategoryContentCx {
  margin: 0.4em;
  padding: 0.4em;
}

.addCategoryField {
  all: unset;
  height: 2.0em;
  font-size: 1.5em;
  padding: 0.4em;

  margin: 0.4em;
  background: white;
  border: 1px solid rgb(219,219,219);
}

.addCategoryField:focus{
  border: 1px solid #8523b2;
}

.addCategoryButton {
  all:unset;

  height: 2.5em;
  width: 4.0em;
  
  margin: 0.4em 0.4em 0.4em 0;
  padding: 0.4em;

  border: 1px #9e5fbb solid;
  border-radius: 0.4em;
  background-color: white;

  text-align: center;
  
  cursor: pointer;
}

.addCategoryButton:hover {
  color: #9e5fbb;
}

.addCategoryButton:active {
  background: #8523b2;
  color: white;
}