.headerCx
{
  position: absolute;
  width: 100%;
}

.headerCx ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  min-height: 3em;
  max-height: 3em;

  gap: 5em;
  background: black;
  color: rgb(219,219,219);
}

.headerCx ul a {
  all:unset;
}

.headerCx ul a:hover {
  color: rgba(4, 188, 10, 0.895);
  cursor: pointer;
}

